In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
df = pd.read_csv("valorant_data.csv")
# Link to valorant dataset 
# https://www.kaggle.com/datasets/qualidea1217/valorant-pro-matches-since-april-2021

C:\Users\Connor\AppData\Local\Temp\ipykernel_9184\4246751386.py:1: DtypeWarning: Columns (7,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("valorant_data.csv")

In [24]:
num_instances = df.shape[0]
print("Number of instances:", num_instances)
# Determining the number of instances in the dataset

Number of instances: 249710

In [25]:
df.head()
# Displaying the first 5 rows of the dataset

,Unnamed: 0,match-datetime,patch,map,team1,team2,team1-score,team2-score,Team 1 Win,Team 2 Win,...,hs-ct,first kill,fk-t,fk-ct,first death,fd-t,fd-ct,first kills minus first deaths,fkmd-t,fkmd-ct
0,0,4/16/2023 10:00,6.06,Haven,Impulse GW,EGN Esports,13,6,1,0,...,0.26,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
1,1,4/16/2023 10:00,6.06,Haven,Impulse GW,EGN Esports,13,6,1,0,...,0.38,0.0,0.0,0.0,1.0,1.0,0.0,-1.0,-1.0,0.0
2,2,4/16/2023 10:00,6.06,Haven,Impulse GW,EGN Esports,13,6,1,0,...,0.27,2.0,2.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
3,3,4/16/2023 10:00,6.06,Haven,Impulse GW,EGN Esports,13,6,1,0,...,0.24,7.0,3.0,4.0,5.0,5.0,0.0,2.0,-2.0,4.0
4,4,4/16/2023 10:00,6.06,Haven,Impulse GW,EGN Esports,13,6,1,0,...,0.80,0.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,-1.0

In [26]:
df.tail()
# Displaying the last 5 rows of the dataset

,Unnamed: 0,match-datetime,patch,map,team1,team2,team1-score,team2-score,Team 1 Win,Team 2 Win,...,hs-ct,first kill,fk-t,fk-ct,first death,fd-t,fd-ct,first kills minus first deaths,fkmd-t,fkmd-ct
249705,249705,4/14/2021 5:30,2.07,Bind,Mindfreak,Team Bliss,14,12,1,0,...,0.38,2.0,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0
249706,249706,4/14/2021 5:30,2.07,Bind,Mindfreak,Team Bliss,14,12,1,0,...,0.21,4.0,3.0,1.0,5.0,1.0,4.0,-1.0,2.0,-3.0
249707,249707,4/14/2021 5:30,2.07,Bind,Mindfreak,Team Bliss,14,12,1,0,...,0.13,4.0,1.0,3.0,3.0,1.0,2.0,1.0,0.0,1.0
249708,249708,4/14/2021 5:30,2.07,Bind,Mindfreak,Team Bliss,14,12,1,0,...,0.44,2.0,0.0,2.0,3.0,2.0,1.0,-1.0,-2.0,1.0
249709,249709,4/14/2021 5:30,2.07,Bind,Mindfreak,Team Bliss,14,12,1,0,...,0.18,0.0,0.0,0.0,1.0,1.0,0.0,-1.0,-1.0,0.0

In [27]:
df.info()
# Displaying the information of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249710 entries, 0 to 249709
Data columns (total 49 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         249710 non-null  int64
 1   match-datetime                     249710 non-null  object
 2   patch                              249710 non-null  float64
 3   map                                249710 non-null  object
 4   team1                              249710 non-null  object
 5   team2                              249710 non-null  object
 6   team1-score                        249710 non-null  int64
 7   team2-score                        249710 non-null  object
 8   Team 1 Win                         249710 non-null  int64
 9   Team 2 Win                         249710 non-null  int64
 10  player-name                        249710 non-null  object
 11  player-team                        249710 non-null  object
 12  agent                              249710 non-null  object
 13  rating                             249260 non-null  float64
 14  rating-t                           249250 non-null  float64
 15  rating-ct                          249250 non-null  float64
 16  Average combat score               249428 non-null  float64
 17  acs-t                              249359 non-null  object
 18  acs-ct                             248552 non-null  object
 19  kills                              249680 non-null  float64
 20  k-t                                249680 non-null  float64
 21  k-ct                               249680 non-null  float64
 22  deaths                             249680 non-null  float64
 23  d-t                                249390 non-null  float64
 24  d-ct                               249390 non-null  float64
 25  assists                            249390 non-null  float64
 26  a-t                                249390 non-null  float64
 27  a-ct                               249390 non-null  float64
 28  total kills minus deaths           249389 non-null  float64
 29  tkmd-t                             249131 non-null  float64
 30  tkmd-ct                            249176 non-null  float64
 31  kills assists survive trade perct  249353 non-null  float64
 32  kast-t                             249360 non-null  float64
 33  kast-ct                            247980 non-null  float64
 34  average damage per round           249428 non-null  float64
 35  adr-t                              249359 non-null  float64
 36  adr-ct                             248099 non-null  float64
 37  headshot percentage                249376 non-null  float64
 38  hs-t                               247934 non-null  float64
 39  hs-ct                              247989 non-null  float64
 40  first kill                         249380 non-null  float64
 41  fk-t                               249380 non-null  float64
 42  fk-ct                              249380 non-null  float64
 43  first death                        249390 non-null  float64
 44  fd-t                               249390 non-null  float64
 45  fd-ct                              249390 non-null  float64
 46  first kills minus first deaths     249380 non-null  float64
 47  fkmd-t                             249265 non-null  float64
 48  fkmd-ct                            249125 non-null  float64
dtypes: float64(35), int64(4), object(10)
memory usage: 93.4+ MB

In [28]:
df.isnull().sum()
# Checking for missing values in the dataset

Unnamed: 0                              0
match-datetime                          0
patch                                   0
map                                     0
team1                                   0
team2                                   0
team1-score                             0
team2-score                             0
Team 1 Win                              0
Team 2 Win                              0
player-name                             0
player-team                             0
agent                                   0
rating                                450
rating-t                              460
rating-ct                             460
Average combat score                  282
acs-t                                 351
acs-ct                               1158
kills                                  30
k-t                                    30
k-ct                                   30
deaths                                 30
d-t                                   320
d-ct                                  320
assists                               320
a-t                                   320
a-ct                                  320
total kills minus deaths              321
tkmd-t                                579
tkmd-ct                               534
kills assists survive trade perct     357
kast-t                                350
kast-ct                              1730
average damage per round              282
adr-t                                 351
adr-ct                               1611
headshot percentage                   334
hs-t                                 1776
hs-ct                                1721
first kill                            330
fk-t                                  330
fk-ct                                 330
first death                           320
fd-t                                  320
fd-ct                                 320
first kills minus first deaths        330
fkmd-t                                445
fkmd-ct                               585
dtype: int64

In [29]:
(df.isnull().sum()/len(df))*100
# Checking for the percentage of missing values in the dataset

Unnamed: 0                           0.000000
match-datetime                       0.000000
patch                                0.000000
map                                  0.000000
team1                                0.000000
team2                                0.000000
team1-score                          0.000000
team2-score                          0.000000
Team 1 Win                           0.000000
Team 2 Win                           0.000000
player-name                          0.000000
player-team                          0.000000
agent                                0.000000
rating                               0.180209
rating-t                             0.184214
rating-ct                            0.184214
Average combat score                 0.112931
acs-t                                0.140563
acs-ct                               0.463738
kills                                0.012014
k-t                                  0.012014
k-ct                                 0.012014
deaths                               0.012014
d-t                                  0.128149
d-ct                                 0.128149
assists                              0.128149
a-t                                  0.128149
a-ct                                 0.128149
total kills minus deaths             0.128549
tkmd-t                               0.231869
tkmd-ct                              0.213848
kills assists survive trade perct    0.142966
kast-t                               0.140163
kast-ct                              0.692804
average damage per round             0.112931
adr-t                                0.140563
adr-ct                               0.645148
headshot percentage                  0.133755
hs-t                                 0.711225
hs-ct                                0.689199
first kill                           0.132153
fk-t                                 0.132153
fk-ct                                0.132153
first death                          0.128149
fd-t                                 0.128149
fd-ct                                0.128149
first kills minus first deaths       0.132153
fkmd-t                               0.178207
fkmd-ct                              0.234272
dtype: float64

In [30]:
df.describe()
# Displaying the summary statistics of the dataset

,Unnamed: 0,patch,team1-score,Team 1 Win,Team 2 Win,rating,rating-t,rating-ct,Average combat score,kills,...,hs-ct,first kill,fk-t,fk-ct,first death,fd-t,fd-ct,first kills minus first deaths,fkmd-t,fkmd-ct
count,249710.000000,249710.000000,249710.000000,249710.000000,249710.000000,249260.000000,249250.000000,249250.000000,249428.000000,249680.000000,...,247989.000000,249380.000000,249380.000000,249380.000000,249390.000000,249390.000000,249390.000000,249380.000000,249265.000000,249125.000000
mean,124854.500000,4.028083,10.931080,0.580433,0.419326,1.004783,1.046198,1.249597,201.859575,14.575184,...,0.255839,2.062539,0.938556,1.126169,2.062312,1.124780,0.936918,-0.000040,-0.187592,0.187878
std,72085.212197,1.171391,3.439841,0.493489,0.493450,1.338180,4.297961,7.118967,62.234810,5.522574,...,0.151182,1.777457,1.124959,1.198011,1.648656,1.204852,1.018626,2.149748,1.501666,1.519661
min,0.000000,2.050000,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-3.000000,-6.000000,-6.000000,-11.000000,-9.000000,-9.000000
25%,62427.250000,3.060000,9.000000,0.000000,0.000000,0.780000,0.660000,0.740000,159.000000,11.000000,...,0.170000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000
50%,124854.500000,4.040000,13.000000,1.000000,0.000000,0.980000,0.930000,1.010000,197.000000,14.000000,...,0.240000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,187281.750000,5.060000,13.000000,1.000000,1.000000,1.200000,1.220000,1.310000,240.000000,18.000000,...,0.330000,3.000000,1.000000,2.000000,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000
max,249709.000000,6.060000,23.000000,1.000000,1.000000,289.000000,319.000000,564.000000,691.000000,56.000000,...,9.000000,17.000000,10.000000,11.000000,15.000000,10.000000,9.000000,14.000000,10.000000,11.000000

In [31]:
# Data Visualizations will be in Tableau found in the GitHub repository

In [32]:
#Drop first 6 columns in the dataset
df = df.drop(df.columns[:6], axis=1)

In [33]:
df.head()
# Displaying the first 5 rows of the dataset after dropping the first 6 columns

,team1-score,team2-score,Team 1 Win,Team 2 Win,player-name,player-team,agent,rating,rating-t,rating-ct,...,hs-ct,first kill,fk-t,fk-ct,first death,fd-t,fd-ct,first kills minus first deaths,fkmd-t,fkmd-ct
0,13,6,1,0,HolyM0Ly,Impulse GW,Killjoy,1.32,1.21,1.51,...,0.26,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
1,13,6,1,0,Dolfo,Impulse GW,Breach,1.22,1.21,1.24,...,0.38,0.0,0.0,0.0,1.0,1.0,0.0,-1.0,-1.0,0.0
2,13,6,1,0,zePiCzz,Impulse GW,Astra,1.13,1.14,1.13,...,0.27,2.0,2.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
3,13,6,1,0,s2newb,Impulse GW,Neon,1.06,0.35,2.29,...,0.24,7.0,3.0,4.0,5.0,5.0,0.0,2.0,-2.0,4.0
4,13,6,1,0,Minikid,Impulse GW,Sova,0.81,0.51,1.31,...,0.80,0.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,-1.0

In [34]:
# Drop columns "player-name", "player-team", "agent"
df = df.drop(["player-name", "player-team", "agent"], axis=1)

In [35]:
df.head()
# Again checking the first 5 rows of the dataset after dropping the columns

,team1-score,team2-score,Team 1 Win,Team 2 Win,rating,rating-t,rating-ct,Average combat score,acs-t,acs-ct,...,hs-ct,first kill,fk-t,fk-ct,first death,fd-t,fd-ct,first kills minus first deaths,fkmd-t,fkmd-ct
0,13,6,1,0,1.32,1.21,1.51,267.0,239.0,316.0,...,0.26,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
1,13,6,1,0,1.22,1.21,1.24,239.0,256.0,212.0,...,0.38,0.0,0.0,0.0,1.0,1.0,0.0,-1.0,-1.0,0.0
2,13,6,1,0,1.13,1.14,1.13,202.0,243.0,133.0,...,0.27,2.0,2.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
3,13,6,1,0,1.06,0.35,2.29,267.0,174.0,428.0,...,0.24,7.0,3.0,4.0,5.0,5.0,0.0,2.0,-2.0,4.0
4,13,6,1,0,0.81,0.51,1.31,105.0,95.0,124.0,...,0.80,0.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,-1.0

In [36]:
# Drop last 3 columns in the dataset
df = df.drop(df.columns[-3:], axis=1)

In [37]:
df.head()
# Checking the first 5 rows of the dataset after dropping the last 3 columns

,team1-score,team2-score,Team 1 Win,Team 2 Win,rating,rating-t,rating-ct,Average combat score,acs-t,acs-ct,...,adr-ct,headshot percentage,hs-t,hs-ct,first kill,fk-t,fk-ct,first death,fd-t,fd-ct
0,13,6,1,0,1.32,1.21,1.51,267.0,239.0,316.0,...,193.0,0.31,0.35,0.26,1.0,0.0,1.0,1.0,0.0,1.0
1,13,6,1,0,1.22,1.21,1.24,239.0,256.0,212.0,...,115.0,0.41,0.43,0.38,0.0,0.0,0.0,1.0,1.0,0.0
2,13,6,1,0,1.13,1.14,1.13,202.0,243.0,133.0,...,114.0,0.33,0.38,0.27,2.0,2.0,0.0,1.0,1.0,0.0
3,13,6,1,0,1.06,0.35,2.29,267.0,174.0,428.0,...,244.0,0.27,0.32,0.24,7.0,3.0,4.0,5.0,5.0,0.0
4,13,6,1,0,0.81,0.51,1.31,105.0,95.0,124.0,...,77.0,0.39,0.23,0.80,0.0,0.0,0.0,1.0,0.0,1.0

In [38]:
df.info()
# Checking the information of the dataset after dropping some columns to figure out exactly what we are working with

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249710 entries, 0 to 249709
Data columns (total 37 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   team1-score                        249710 non-null  int64
 1   team2-score                        249710 non-null  object
 2   Team 1 Win                         249710 non-null  int64
 3   Team 2 Win                         249710 non-null  int64
 4   rating                             249260 non-null  float64
 5   rating-t                           249250 non-null  float64
 6   rating-ct                          249250 non-null  float64
 7   Average combat score               249428 non-null  float64
 8   acs-t                              249359 non-null  object
 9   acs-ct                             248552 non-null  object
 10  kills                              249680 non-null  float64
 11  k-t                                249680 non-null  float64
 12  k-ct                               249680 non-null  float64
 13  deaths                             249680 non-null  float64
 14  d-t                                249390 non-null  float64
 15  d-ct                               249390 non-null  float64
 16  assists                            249390 non-null  float64
 17  a-t                                249390 non-null  float64
 18  a-ct                               249390 non-null  float64
 19  total kills minus deaths           249389 non-null  float64
 20  tkmd-t                             249131 non-null  float64
 21  tkmd-ct                            249176 non-null  float64
 22  kills assists survive trade perct  249353 non-null  float64
 23  kast-t                             249360 non-null  float64
 24  kast-ct                            247980 non-null  float64
 25  average damage per round           249428 non-null  float64
 26  adr-t                              249359 non-null  float64
 27  adr-ct                             248099 non-null  float64
 28  headshot percentage                249376 non-null  float64
 29  hs-t                               247934 non-null  float64
 30  hs-ct                              247989 non-null  float64
 31  first kill                         249380 non-null  float64
 32  fk-t                               249380 non-null  float64
 33  fk-ct                              249380 non-null  float64
 34  first death                        249390 non-null  float64
 35  fd-t                               249390 non-null  float64
 36  fd-ct                              249390 non-null  float64
dtypes: float64(31), int64(3), object(3)
memory usage: 70.5+ MB

In [39]:
df.isnull().sum()
# Checking for missing values in the dataset

team1-score                             0
team2-score                             0
Team 1 Win                              0
Team 2 Win                              0
rating                                450
rating-t                              460
rating-ct                             460
Average combat score                  282
acs-t                                 351
acs-ct                               1158
kills                                  30
k-t                                    30
k-ct                                   30
deaths                                 30
d-t                                   320
d-ct                                  320
assists                               320
a-t                                   320
a-ct                                  320
total kills minus deaths              321
tkmd-t                                579
tkmd-ct                               534
kills assists survive trade perct     357
kast-t                                350
kast-ct                              1730
average damage per round              282
adr-t                                 351
adr-ct                               1611
headshot percentage                   334
hs-t                                 1776
hs-ct                                1721
first kill                            330
fk-t                                  330
fk-ct                                 330
first death                           320
fd-t                                  320
fd-ct                                 320
dtype: int64

In [40]:
df.isna().sum()/len(df)*100

team1-score                          0.000000
team2-score                          0.000000
Team 1 Win                           0.000000
Team 2 Win                           0.000000
rating                               0.180209
rating-t                             0.184214
rating-ct                            0.184214
Average combat score                 0.112931
acs-t                                0.140563
acs-ct                               0.463738
kills                                0.012014
k-t                                  0.012014
k-ct                                 0.012014
deaths                               0.012014
d-t                                  0.128149
d-ct                                 0.128149
assists                              0.128149
a-t                                  0.128149
a-ct                                 0.128149
total kills minus deaths             0.128549
tkmd-t                               0.231869
tkmd-ct                              0.213848
kills assists survive trade perct    0.142966
kast-t                               0.140163
kast-ct                              0.692804
average damage per round             0.112931
adr-t                                0.140563
adr-ct                               0.645148
headshot percentage                  0.133755
hs-t                                 0.711225
hs-ct                                0.689199
first kill                           0.132153
fk-t                                 0.132153
fk-ct                                0.132153
first death                          0.128149
fd-t                                 0.128149
fd-ct                                0.128149
dtype: float64